body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
 justify-content: center;
    /* align-items: center; */
    height: 100vh;
    margin-top: 15px;;
}

.container {
    margin-top:15px;
    text-align:center;
    /* text-align: center; */
}

button {
    background-color: #2b50a0; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    /* text-align: center; */
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #d0e8f3;
}
